@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4"><strong>Avaliation Test</strong></h4>
    <h2 class="display-4">Há um registro de cliente e pedido que foi deixado de forma estática dentro do código</h2>
    <h2 class="display-4">para facilitar os testes durante o desenvolvimento.</h2>
</div>
