@model WebApplication_test.Models.ProductOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="orderId" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="clientId" class="control-label">Choose a client:</label>
                @Html.DropDownList("clientId", String.Empty)
                <span asp-validation-for="clientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" onclick="SaveOrder()" class="btn btn-primary">Choose your products</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Return to ProductOrders</a>
</div>

<div id="divOrderItens" style="display:none;">

</div>


@section Scripts {
    <script src="~/Scripts/Itens.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
